
.shedule {

    // width: 100%;
    // height: 100%;
    // display: flex;

    // align-items: center;
    // justify-content: center;
    // background-color: rgb(110 205 150 / 27%);
    // position: fixed;
    // backdrop-filter: blur(2px);
    // z-index: 99;
    // top: 0;
    // left: 0;
    // right: 0;
    // align-items: center;

    width: 100%;
    height: 100%;
    display: flex
;
    align-items: center;
    justify-content: center;
    background-color: rgba(110, 205, 150, 0.27);
    /* position: fixed; */
    backdrop-filter: blur(2px);
    /* z-index: 99; */
    top: 0;
    left: 0;
    right: 0;
    align-items: center;

    // animation: slideIn 0.4s ease-out forwards;
  
    // &.slide-out {
    //   animation: slideOut 0.4s ease-out forwards;
    }


    .close_btn {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: end;
      margin-bottom: 30px;
      padding-right: 20px;


      @media (max-width:780px ) {
    
        margin-bottom: 5px;
        margin-right: 0;

      }

      @media (max-width:480px ) {
    
        
        margin-right: 0;
        margin-bottom: 15px;

      }



      svg {
        font-size: 25px;
        color: #00e727;

        &:hover {
          cursor: pointer;
          color: #e70000af;
          transition: 0.2s;
        }
      }
   
    }


.contact_us_container {

  // width: 90%;
  // height: 89%;
  // padding: 70px 80px 100px 80px;
  // display: flex;
  // background-color: var(--primary);
  // // margin-top: 20px;
  // margin: 0 auto ;
  // border-radius: 20px;
  // flex-direction: column;

  width: 70%;
  // height: 89%;
  // padding: 70px 80px 100px 80px;
  padding: 50px;
  display: flex;
  background-color: var(--primary);
  margin: 0 auto;
  border-radius: 20px;
  flex-direction: column;

  /* Enable vertical scrolling if content overflows */



  @media (max-width:780px ) {
    
    padding: 58px 80px 65px 80px;

  }

  @media (max-width:570px ) {
    
    padding: 58px 54px 65px 54px;

  }

  @media (max-width:480px ) {
    
    padding: 33px 35px 55px 35px;
  }





    .contact_us_sub_container {

        width: 100%;
        height: 100%;
        // display: flex;

        .contact_us_sub_container_main {
          width: 100%;
          height: 100%;
          display: flex;


          overflow-y: auto;

      /* Optional: Add smooth scrolling */
      scroll-behavior: smooth;
    
      scrollbar-width: thin; /* For Firefox */
      scrollbar-color: var(--secondary) var(--primary); /* For Firefox */
    
    
      /* Webkit browsers (Chrome, Edge, Safari) */
    .contact_us_sub_container_main::-webkit-scrollbar {
      width: 8px; /* Width of the scrollbar */
    }
    
    .contact_us_sub_container_main::-webkit-scrollbar-track {
      background: var(--primary); /* Track color */
    }
    
    .contact_us_sub_container_main::-webkit-scrollbar-thumb {
      background-color: var(--secondary); /* Scrollbar thumb color */
      border-radius: 4px; /* Rounded edges */
      border: 2px solid var(--primary); /* Space around the thumb */
    }

          
  
  
    @media (max-width: 780px) {
      flex-direction: column;

      

    }
  
    @media (max-width: 480px) {
        padding: 0px 0px;
    }

    
  
    .contact_us_container_sub_1 {
      width: 44%;
      padding-right: 50px;
  
      @media (max-width: 780px) {
        width: 100%;
      }
      
      @media (max-width:480px ) {
    
        
        padding-right: 0;

      }

  
      h6 {
        font-size: 22px;
        font-weight: 500;
        color: var(--primary_font);
        margin-bottom: 14px;

        font-family: "Titillium Web", sans-serif;

        @media (max-width: 480px) {
            font-size: 23px;
        }
        @media (max-width: 390px) {
          font-size: 19px;
      }

      }


      h3 {
        font-size: 18px;
        font-weight: 500;
        color: var(--secondary_font);
        margin-bottom: 12px;
      }

      .features_wrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;

        span {
            display: flex;
            gap: 10px;
            color: var(--secondary_font);


            svg {
                font-size: 14px;
                margin-top: 7px;
                color: #057a1f;
            }
        }
      }

  
      p {
        color: var(--secondary_font);
        margin-bottom: 20px;
        font-size: 14px;


        
  @media (max-width:780px ) {
    
    margin-bottom: 5px;
  }
  
        // @media (max-width: 1500px) {
        //   font-size: 20px;
        // }
        // @media (max-width: 1380px) {
        //   font-size: 18px;
        // }
        // @media (max-width: 1280px) {
        //   font-size: 16px;
        // }
      }
    }
  
    .contact_us_container_sub_2 {
      width: 100%;
  
      @media (max-width: 780px) {
        width: 100%;
      }

      h6 {
        font-size: 22px;
        font-weight: 700;
        color: #ffff;
        margin-bottom: 20px;
      }
  
      form {
        // padding:30px ;
        border-radius: 30px;
        background-color: var(--primary);
  
        @media (max-width: 780px) {
          margin-top: 20px;
        }
  
        .form_input_container {
          display: flex;
          flex-wrap: wrap;
          column-gap: 20px;
  
          .input_container {
            width: 100%;
            margin-bottom: 20px;
       
  
            label {
              display: block;
              font-weight: 600;
              font-size: 14px;
            }
            input {
              padding: 12px 15px;
              border-radius: 10px;
              width: 100%;
              font-size: 15px;
              color: #585858;

         

              @media (max-width:570px ) {
    
                padding: 9px 15px;
            
              }

              
          &:hover {
            background-color: #ecfdf1;
          
            transition: 0.3s;
            
          }
  
             
            }
  
            @media (max-width: 1180px) {
              width: 100%;
            }
          }
        }
  
        .message_input_container {
          margin-bottom: 20px;
          width: 100%;
          display: block;
  
          label {
            font-weight: 600;
          }
  
          textarea {
            padding: 15px;
            border-radius: 10px;
            width: 100%;
            height: 100px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
  
                   // @media (max-width:1500px) {
              //     font-size: 22px;
                 
              // }
              @media (max-width:1380px) {
                  font-size: 17px;
                }
                @media (max-width:1280px) {
                  font-size: 16px;
                }
  
          }
        }
  
        button {
          padding: 14px 50px;
          width: 100%;
          background-color: #FFF;

          color: darkblue;
          font-size: 18px;
          border-radius: 10px;

          @media (max-width:570px ) {
    
            padding: 11px 44px;
        
          }
          @media (max-width: 390px) {
            padding: 9px 35px;
        }

          &:hover {
            background-color: #015a27;
            cursor: pointer;
            transition: 0.2s;
            color: rgb(77, 255, 130);
          }
  
                 @media (max-width:1500px) {
                  font-size: 17px;
                 
              }
              @media (max-width:1380px) {
                  font-size: 15px;
                }
                @media (max-width:1280px) {
                  font-size: 14px;
                }
        }
      }
    }


  }
  }

}





  .contacts {
    padding: 0;
    li {
      font-size: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
  
      @media (max-width: 1500px) {
        font-size: 19px;
      }
      @media (max-width: 1380px) {
        font-size: 18px;
      }
      @media (max-width: 1280px) {
        font-size: 16px;
      }
  
      svg {
        margin-right: 8px;
      }
    }
  }




  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(50%);
    }
  }


  .serviceInput {
    color: green !important;
  }



  
  
  
  