
.service {
    width: 100%;
 
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: center;


    @media (max-width: 612px) {

        padding: 15px 25px;
        
      }
      @media (max-width: 470px) {

        padding: 15px 20px;
        
      }
      @media (max-width: 370px) {

        padding: 15px 10px;
        
      }
    

    .service_container {
        background-color: var(--primary);
        width: 100%;
        color: #e2dfdf;
        padding: 50px 40px;
        border-radius: 15px;

        @media (max-width: 1266px) {

            padding: 50px 27px;
            
          }
          @media (max-width: 470px) {

            padding: 50px 20px;
            
          }
                          
          @media (max-width: 370px) {

            padding: 50px 15px 31px;
         
       }



        .service_header{

            margin-bottom: 30px;
            
            h3 {
                font-size: var(--Main_text);
                font-weight: 400;
                margin-bottom: 20px;
            }
            .service_header_sec_2 {
                width: 100%;
                display: flex;
                justify-content: space-between;


                @media (max-width: 470px) {

                   align-items: end;
                    
                  }

                p {
                    width: 500px;
                    margin-bottom: 20px;
                    color: #b1b0ae;

                    @media (max-width: 470px) {

                        width: 60%;
                        margin-bottom: 0;
                       
                        font-size: 14px;
                         
                       }
                   
                }



                .shedule_btn {
                    width: 160px;
                    height: 40px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    color: #e2dfdf;
                    background-color: #f0eded00;
                    border: 1px solid rgb(226, 225, 223);


                    &:hover {
                      background-color: #037e22;
                      cursor: pointer;
                      transition: 0.3s;
                      border: none;
                      gap: 8px;
                      
                    }


                    @media (max-width: 470px) {

                      width: 94px;
                      height: 33px;
                      border-radius: 6px
                         
                       }
                       
                    @media (max-width: 370px) {

                            width: 91px;
                            height: 31px;
                            border-radius: 7px;
                         
                       }

                    svg {
                        font-size: 16px;
                    }
                   
                }


               
            }
        }


        .service_itemss {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;



            
    @media (max-width: 612px) {

       
        align-items: center;
        
      }
      @media (max-width: 370px) {

       
        gap: 12px;
        
      }

            .service_item {
                padding: 15px;
                width: 380px;
                background-color:var(--semi_primary) ;
                border-radius: 10px;


                @media (max-width: 1305px) {

                    width: 32%;
                    
                  }

                  @media (max-width: 1140px) {

                    width: 31%;
                    
                  }
                  @media (max-width: 804px) {

                    width: 48%;
                    
                  }
                  @media (max-width: 636px) {

                    width: 47%;
                    
                  }
                  @media (max-width: 612px) {

                    width: 80%;
                    
                  }

                              
                    @media (max-width: 612px) {

                    
                    width: 100%;
                    padding: 20px;
                        
                    }


                  
                // @media (max-width: 1243px) {

                //     width: 348px;
                    
                //   }

                // @media (max-width: 1217px) {

                //     width: 336px;
                    
                //   }

                //   @media (max-width: 1200px) {

                //     width: 328px;
                    
                //   }
                //   @media (max-width: 1190px) {

                //     width: 318px;
                    
                //   }
                //   @media (max-width: 1184px) {

                //     width: 309px;
                    
                //   }
                //   @media (max-width: 1172px) {

                //     width: 330px;
                    
                //   }
                //   @media (max-width: 1165px) {

                //     width: 318px;
                    
                //   }
                //   @media (max-width: 1160px) {

                //     width: 308px;
                    
                //   }
                //   @media (max-width: 1155px) {

                //     width: 30%;
                    
                //   }






                .icon_wrap {

                    padding: 8px;
                    width: 38px;
                    border-radius: 8px;
                    background: #fbf6cc;
                    margin-bottom: 15px;

                    svg {
                        font-size: 18px;
                        color: #444444;
                    }
                }

                h5 {
                    font-size: 18px;
                    margin-bottom: 15px;
                    font-weight: 500;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 15px;
                    color: #b1b0ae;
                }
                
                span {
                    font-size: 14px;
                    margin-bottom: 15px;
                    color: #b1b0ae;
                }

                .shedule_btn {
                    width: 160px;
                    height: 35px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    color: #e2dfdf;
                    background-color: #f0eded00;
                    border: 1px solid  #b1b0ae;
                    margin-top: 20px;

                    
                    &:hover {
                      background-color: #037e22;
                      color: #fff;
                      cursor: pointer;
                      transition: 0.3s;
                      border: none;
                      gap: 8px;
                    
                      
                    }


                    svg {
                        font-size: 16px;

                 

                  
                    }
                   
                }

                

            }
        }

    }
}