.our_work {
  width: 100%;

  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 612px) {
    padding: 15px 25px;
  }
  @media (max-width: 470px) {
    padding: 15px 20px;
  }
  @media (max-width: 370px) {
    padding: 15px 10px;
  }


  .our_work_container {
    width: 100%;
    border-radius: 12px;
    padding: 50px 40px;
    border-radius: 15px;
    background-color: #fdfdf1;
    border: 1px solid rgba(128, 128, 128, 0.37);

    @media (max-width: 612px) {
      padding: 50px 27px;
    }
    @media (max-width: 470px) {
        padding: 50px 20px;
      }
      @media (max-width: 370px) {
        padding: 50px 13px;
      }
    

    .service_header {
      margin-bottom: 35px;

      h3 {
        font-size: var(--Main_text);
        font-weight: 400;
        margin-bottom: 20px;

        @media (max-width: 1049px) {
          margin-bottom: 14px;
        }
      }

      .service_header_sec_2 {
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
          width: 500px;
          margin-bottom: 20px;

          @media (max-width: 1049px) {
            height: 14px;
          }
          @media (max-width: 906px) {
            width: 429px;
          }
          @media (max-width: 702px) {
            width: 328px;
            font-size: 15px;
          }

          @media (max-width: 554px) {
            width: 277px;
          }
          @media (max-width: 500px) {
            width: 63%;
            margin-bottom: 47px;
          }

          @media (max-width: 470px) {
            font-size: 14px;
            margin-bottom: 41px;
          }
        }

        .shedule_btn {
          width: 130px;
          height: 40px;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-weight: 600;
          color: rgb(32, 32, 32);
          background-color: #f0eded00;
          border: 1px solid rgb(32, 32, 32);

          @media (max-width: 906px) {
            width: 110px;
            height: 32px;
          }

          @media (max-width: 400px) {
            width: 85px;
            height: 31px;
            font-size: 13px;
          }

          svg {
            font-size: 18px;

            @media (max-width: 400px) {
                display: none;
              }
          }
        }
      }
    }

    .header_line {
      width: 100%;
      height: 2px;
      border-bottom: 1px solid rgba(172, 168, 168, 0.562);
      // background-color: black;

      margin-bottom: 20 px;
    }

    .work_items {
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;

      @media (max-width: 1153px) {
        height: 328px;
      }
      @media (max-width: 1049px) {
        height: 302px;
      }

      @media (max-width: 906px) {
        height: 278px;
      }
      @media (max-width: 840px) {
        height: 256px;
      }

      //risky

      @media (max-width: 710px) {
        flex-direction: column;
        height: 220px;
      }

      .text_container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // background-color: aqua;
        // padding:  15px 0;

        @media (max-width: 840px) {
          width: 40%;
        }
        @media (max-width: 796px) {
          width: 49%;
        }

        //risky

        @media (max-width: 710px) {
          width: 80%;
        }
        @media (max-width: 704px) {
          width: 98%;
        }

        // -------------------------------------------------------------------------  item ypes
        .item_type_1 {
          padding: 5px 0;
          border-radius: 20px;
          width: 182px;
          font-weight: 600;
          border: 1px solid rgb(51, 50, 50);
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 840px) {
            width: 158px;
          }
          @media (max-width: 535px) {
            margin-bottom: 15px;
          }

          span {
            font-size: 14px;

            @media (max-width: 840px) {
              font-size: 12px;
            }
          }
        }

        .item_type {
          padding: 5px 0;
          border-radius: 20px;
          width: 182px;
          font-weight: 600;
          border: 1px solid rgb(51, 50, 50);
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 1153px) {
            width: 97%;
          }

          span {
            font-size: 14px;
          }
        }

        .item_type {
          padding: 5px 0;
          border-radius: 20px;
          width: 146px;
          font-weight: 600;
          border: 1px solid rgb(51, 50, 50);
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 840px) {
            margin-bottom: 13px;
            width: 122px;
          }

          span {
            font-size: 14px;

            @media (max-width: 840px) {
              font-size: 12px;

              // margin-bottom: 13px;
            }
          }
        }

        .desc_wrapper {
          h4 {
            font-size: 24px;
            width: 350px;
            font-weight: 500;
            margin-bottom: 15px;

            @media (max-width: 870px) {
              font-size: 22px;
              margin-bottom: 8px;
            }
            @media (max-width: 840px) {
              width: 327px;
              font-size: 16px;
            }
            @media (max-width: 796px) {
              margin-bottom: 6px;
            }

            //risky

            @media (max-width: 710px) {
              width: 333px;
              width: 100% !important;
          
            }
          }
          .des_span {
            font-size: 14px;
            color: grey !important;

            @media (max-width: 370px) {
                font-size: 13px;
              }
          }
        }
      }

      .work_img_container {
        width: 40%;
        // height: 280px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        //risky

        @media (max-width: 710px) {
          margin-left: -328px;
          display: none;
        }

        .img_wrapper {
          width: 90%;

          @media (max-width: 1153px) {
            width: 97%;
          }

          @media (max-width: 1049px) {
            width: 100%;
          }

          img {
            width: 100%;
            display: block;
            border-radius: 10px;
          }
        }
      }
      .index_box {
        width: 30%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: absolute;
        top: 102px;
        left: -42px;
        bottom: 0;
        background-color: #fff;
        height: 70px;

        @media (max-width: 1153px) {
          width: 128px;
        }

        @media (max-width: 906px) {
          font-size: 16px;
          top: 68px;
          height: 55px;
          display: flex;
          align-items: start;
          width: 123px;
          height: 61px;
        }

        @media (max-width: 840px) {
          padding: 10px;
          font-weight: 600;
          width: 113px;
        }
        @media (max-width: 722px) {
          top: 41px;
          height: 55px;
        }
      }

      p {
        font-size: 18px;

        @media (max-width: 906px) {
          font-size: 16px;
        }
      }

      span {
        font-size: 14px;
        color: #b9b4b4;

        @media (max-width: 840px) {
          font-size: 13px;
        }
      }
    }
  }
}

.index_box_diff {
  width: 123px;
  height: 61px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  top: 102px;
  right: -42px;
  bottom: 0;
  background-color: #fff;
  // height: 70px;

  @media (max-width: 1153px) {
    width: 128px;
  }

  @media (max-width: 906px) {
    font-size: 16px;
    top: 68px;
    height: 55px;
    display: flex;
    align-items: start;
    width: 123px;
    height: 61px;
  }

  @media (max-width: 840px) {
    padding: 10px;
    font-weight: 600;
    width: 113px;
  }
  @media (max-width: 722px) {
    top: 41px;
    height: 55px;
  }
}

// ---------------------------------------------- - Muliti items 2

.work_items_2 {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;

  @media (max-width: 1153px) {
    height: 328px;
  }
  @media (max-width: 1049px) {
    height: 302px;
  }

  @media (max-width: 906px) {
    height: 278px;
  }
  @media (max-width: 840px) {
    height: 256px;
  }

  //risky

  @media (max-width: 710px) {
    flex-direction: column;
    height: 202px;
  }

  @media (max-width: 470px) {
    height: 185px;
  }
  @media (max-width: 422px) {
    height: 234px;
  }


  .text_container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: aqua;
    // padding:  15px 0;

    @media (max-width: 840px) {
      width: 40%;
    }
    @media (max-width: 796px) {
      width: 49%;
    }

    //risky

    @media (max-width: 710px) {
      width: 80%;
      // justify-content: end;
      // align-items: end;
    }
    @media (max-width: 704px) {
      width: 98%;
    }

    // -------------------------------------------------------------------------  item ypes
    .item_type_1 {
      padding: 5px 0;
      border-radius: 20px;
      width: 182px;
      font-weight: 600;
      border: 1px solid rgb(51, 50, 50);
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 840px) {
        width: 158px;
      }

      span {
        font-size: 14px;

        @media (max-width: 840px) {
          font-size: 12px;
        }
      }
    }

    .item_type {
      padding: 5px 0;
      border-radius: 20px;
      width: 182px;
      font-weight: 600;
      border: 1px solid rgb(51, 50, 50);
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1153px) {
        width: 97%;
      }

      span {
        font-size: 14px;
      }
    }

    .item_type {
      padding: 5px 0;
      border-radius: 20px;
      width: 146px;
      font-weight: 600;
      border: 1px solid rgb(51, 50, 50);
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 840px) {
        margin-bottom: 13px;
        width: 122px;
      }

      span {
        font-size: 14px;

        @media (max-width: 840px) {
          font-size: 12px;

          // margin-bottom: 13px;
        }
      }
    }

    .desc_wrapper {


      h4 {
        font-size: 24px;
        width: 350px;
        font-weight: 500;
        margin-bottom: 15px;

        @media (max-width: 870px) {
          font-size: 22px;
          margin-bottom: 8px;
        }
        @media (max-width: 840px) {
          width: 327px;
          font-size: 16px;
        }
        @media (max-width: 710px) {
          width: 100% !important;
        }
        @media (max-width: 796px) {
          margin-bottom: 6px;
        }
        // @media (max-width: 500px) {

        //     width: 100%;
        //     // margin-bottom: 47px;
        //   }

        //risky

        @media (max-width: 710px) {
          width: 333px;
        }
      }
      .des_span {
        font-size: 14px;
        color: grey !important;
      }
    }
  }

  .work_img_container {
    width: 40%;
    // height: 280px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    //risky

    @media (max-width: 710px) {
      margin-left: -328px;
      display: none;
    }

    .img_wrapper {
      width: 90%;

      @media (max-width: 1153px) {
        width: 97%;
      }

      @media (max-width: 1049px) {
        width: 100%;
      }

      img {
        width: 100%;
        display: block;
        border-radius: 10px;
      }
    }
  }
  .index_box {
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    top: 102px;
    left: -42px;
    bottom: 0;
    background-color: #fff;
    height: 70px;

    @media (max-width: 1153px) {
      width: 128px;
    }

    @media (max-width: 906px) {
      font-size: 16px;
      top: 68px;
      height: 55px;
      display: flex;
      align-items: start;
      width: 123px;
      height: 61px;
    }

    @media (max-width: 840px) {
      padding: 10px;
      font-weight: 600;
      width: 113px;
    }
    @media (max-width: 722px) {
      top: 41px;
      height: 55px;
    }
  }

  p {
    font-size: 18px;

    @media (max-width: 906px) {
      font-size: 16px;
    }
  }

  span {
    font-size: 14px;
    color: #b9b4b4;

    @media (max-width: 840px) {
      font-size: 13px;
    }
  }
}

// mobie responsive design ----------------------------------------------------------------------------

//     .work_items_mobile_design_1 {

//         width: 100%;
//         height: 404px;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: flex-start;
//         padding: 40px 0;

//             // @media (max-width: 1153px) {

//             //     height: 328px;
//             //   }

//                           //risky

//                         //   @media (max-width:710px) {
//                         //    flex-direction: column;
//                         //    height: 354px;
//                         //  }

//         .text_container {
//             width: 79%;
//             height: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             margin-left: 73px;
//             // background-color: aqua;
//             // padding:  15px 0;

//             @media (max-width:840px) {
//              width: 40%;

//             }

//                           //risky

//                           @media (max-width:710px) {
//                            width: 80%;
//                          }
//                          @media (max-width:704px) {
//                             width: 98%;
//                           }

// // -------------------------------------------------------------------------  item ypes
//             .item_type_1 {
//                 padding: 5px 0;
//                 border-radius: 20px;
//                 width: 182px;
//                 font-weight: 600;
//                 border: 1px solid rgb(51, 50, 50);
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 @media (max-width:840px) {

//                     width: 158px
//                 }

//                 span {
//                     font-size: 14px;

//                     @media (max-width:840px) {
//                         font-size: 12px;

//                     }
//                 }
//             }

//             .item_type {
//                 padding: 5px 0;
//                 border-radius: 20px;
//                 width: 182px;
//                 font-weight: 600;
//                 border: 1px solid rgb(51, 50, 50);
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 @media (max-width: 1153px) {
//                     width: 97%;
//                   }

//                 span {
//                     font-size: 14px;
//                 }
//             }

//             .item_type {
//                 padding: 5px 0;
//                 border-radius: 20px;
//                 width: 146px;
//                 font-weight: 600;
//                 border: 1px solid rgb(51, 50, 50);
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 @media (max-width:840px) {
//                    margin-bottom: 13px;
//                    width: 122px;
//                 }

//                 span {
//                     font-size: 14px;

//                     @media (max-width:840px) {
//                         font-size: 12px;

//                         // margin-bottom: 13px;
//                     }
//                 }
//             }

//             .desc_wrapper{

//                 h4 {
//                     font-size: 24px;
//                     width: 350px;
//                     font-weight: 500;
//                     margin-bottom: 15px;

//                     @media (max-width: 870px) {

//                         font-size: 22px;
//                         margin-bottom: 8px;
//                       }
//                       @media (max-width:840px) {
//                         width: 327px;
//                         font-size: 16px;
//                     }
//                     @media (max-width:796px) {
//                        margin-bottom: 6px;
//                     }

//                     //risky

//                     @media (max-width:710px) {
//                         width: 333px;
//                      }

//                 }
//                 .des_span {
//                     font-size: 14px;
//                     color: grey !important;
//                 }
//             }

//         }

//         .work_img_container_mobile_design_1 {
//             width: 40%;
//             // height: 280px;
//             position: relative;
//             display: flex;
//             align-items: center;
//             justify-content: center;

//             margin-left: 30px;

//                           //risky

//             //               @media (max-width:710px) {
//             //                 margin-left: -328px;
//             //              }

//             .img_wrapper {

//                 width: 90%;
//                 margin-bottom: 15px;

//                 @media (max-width: 1153px) {

//                     width: 97%;
//                   }

//                 @media (max-width: 1049px) {

//                     width: 100%;
//                   }

//             img {
//                 width: 100%;
//                 display: block;
//                 border-radius: 10px;
//             }

//             }

//         }
//         .index_box {
//             width: 30%;
//             padding: 15px;
//             display: flex;
//             flex-direction: column;
//             justify-content: start;
//             border-radius: 10px;
//             box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//             position: absolute;
//             top: 102px;
//             left: -42px;
//             bottom: 0;
//             background-color: #fff;
//             height: 70px;
//             left: 136px;

//             @media (max-width: 1153px) {

//                 width: 128px;
//               }

//               @media (max-width: 906px) {

//                 font-size: 16px;
//                 top: 68px;
//                 height: 55px;
//                 display: flex;
//                 align-items: start;
//                 width: 123px;
//                 height: 61px;

//               }

//               @media (max-width:840px) {
//                 padding: 10px;
//                 font-weight: 600;
//                 width: 113px;
//             }
//             @media (max-width:722px) {
//                 top: 41px;
//                 height: 55px;
//             }

//         }

//             p{
//                 font-size: 18px;

//                 @media (max-width: 906px) {

//                     font-size: 16px;;
//                   }
//             }

//             span{
//                 font-size: 14px;
//                 color: #b9b4b4;

//                 @media (max-width:840px) {
//                     font-size: 13px;
//                 }

//             }
//     }

// --------------------------------------------------------------- mobile item 2

//     .work_items_mobile_design_2 {

//         width: 100%;
//         height: 404px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: end;
//         padding: 40px 0;

//             // @media (max-width: 1153px) {

//             //     height: 328px;
//             //   }

//                           //risky

//                         //   @media (max-width:710px) {
//                         //    flex-direction: column;
//                         //    height: 354px;
//                         //  }

//         .text_container {
//             width: 79%;
//             height: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             margin-left: 73px;
//             // background-color: aqua;
//             // padding:  15px 0;

//             @media (max-width:840px) {
//              width: 40%;

//             }

//                           //risky

//                           @media (max-width:710px) {
//                            width: 80%;
//                          }
//                          @media (max-width:704px) {
//                             width: 98%;
//                           }

// // -------------------------------------------------------------------------  item ypes
//             .item_type_1 {
//                 padding: 5px 0;
//                 border-radius: 20px;
//                 width: 182px;
//                 font-weight: 600;
//                 border: 1px solid rgb(51, 50, 50);
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 @media (max-width:840px) {

//                     width: 158px
//                 }

//                 span {
//                     font-size: 14px;

//                     @media (max-width:840px) {
//                         font-size: 12px;

//                     }
//                 }
//             }

//             .item_type {
//                 padding: 5px 0;
//                 border-radius: 20px;
//                 width: 182px;
//                 font-weight: 600;
//                 border: 1px solid rgb(51, 50, 50);
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 @media (max-width: 1153px) {
//                     width: 97%;
//                   }

//                 span {
//                     font-size: 14px;
//                 }
//             }

//             .item_type {
//                 padding: 5px 0;
//                 border-radius: 20px;
//                 width: 146px;
//                 font-weight: 600;
//                 border: 1px solid rgb(51, 50, 50);
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 @media (max-width:840px) {
//                    margin-bottom: 13px;
//                    width: 122px;
//                 }

//                 span {
//                     font-size: 14px;

//                     @media (max-width:840px) {
//                         font-size: 12px;

//                         // margin-bottom: 13px;
//                     }
//                 }
//             }

//             .desc_wrapper{

//                 h4 {
//                     font-size: 24px;
//                     width: 350px;
//                     font-weight: 500;
//                     margin-bottom: 15px;

//                     @media (max-width: 870px) {

//                         font-size: 22px;
//                         margin-bottom: 8px;
//                       }
//                       @media (max-width:840px) {
//                         width: 327px;
//                         font-size: 16px;
//                     }
//                     @media (max-width:796px) {
//                        margin-bottom: 6px;
//                     }

//                     //risky

//                     @media (max-width:710px) {
//                         width: 333px;
//                      }

//                 }
//                 .des_span {
//                     font-size: 14px;
//                     color: grey !important;
//                 }
//             }

//         }

//         .work_img_container_mobile_design_2 {
//             width: 40%;
//             // height: 280px;
//             position: relative;
//             display: flex;
//             align-items: center;
//             justify-content: center;

//             margin-right: 82px;

//                           //risky

//             //               @media (max-width:710px) {
//             //                 margin-left: -328px;
//             //              }

//             .img_wrapper {

//                 width: 90%;
//                 margin-bottom: 15px;

//                 @media (max-width: 1153px) {

//                     width: 97%;
//                   }

//                 @media (max-width: 1049px) {

//                     width: 100%;
//                   }

//             img {
//                 width: 100%;
//                 display: block;
//                 border-radius: 10px;
//             }

//             }

//         }
//         .index_box {
//             width: 30%;
//             padding: 15px;
//             display: flex;
//             flex-direction: column;
//             justify-content: start;
//             border-radius: 10px;
//             box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//             position: absolute;
//             top: 102px;
//             left: -42px;
//             bottom: 0;
//             background-color: #fff;
//             height: 70px;
//             left: 136px;

//             @media (max-width: 1153px) {

//                 width: 128px;
//               }

//               @media (max-width: 906px) {

//                 font-size: 16px;
//                 top: 68px;
//                 height: 55px;
//                 display: flex;
//                 align-items: start;
//                 width: 123px;
//                 height: 61px;

//               }

//               @media (max-width:840px) {
//                 padding: 10px;
//                 font-weight: 600;
//                 width: 113px;
//             }
//             @media (max-width:722px) {
//                 top: 41px;
//                 height: 55px;
//             }

//         }

//             p{
//                 font-size: 18px;

//                 @media (max-width: 906px) {

//                     font-size: 16px;;
//                   }
//             }

//             span{
//                 font-size: 14px;
//                 color: #b9b4b4;

//                 @media (max-width:840px) {
//                     font-size: 13px;
//                 }

//             }
//     }

// .header_line_mobile {
//     width: 100%;
//     height: 2px;
//     border-bottom: 1px solid rgba(172, 168, 168, 0.562);
//     // background-color: black;
//     margin-top: 20px;
// }
